


	<title>Bookers</title>
<div class="container">
<div class="top-text">
	<h1>welcome to <span class="glyphicon glyphicon-book"></span>Bookers !!</h1>
    <p>In <span class="glyphicon glyphicon-book"></span>Bookers,<br>
	<br>
	you can share and exchange your opinions , inpressions , and emotions<br>
	<br>
	about various books!
    </p>
</div>

<div class="top-link">
   <div class="row">
	 <%= link_to 'Login', new_user_session_path, class: "col-xs-8 btn btn-primary" %></div>
   <div class="row">
     <%= link_to 'Sing up', new_user_registration_path, class: "col-xs-8 btn btn-success" %></div>
</div>
</div>
